@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: inline;
    z-index: 11;
}

nav {
    background-color: #30C9E9;
    padding: 5px;
    position: sticky;
    top: 0;

    z-index: 11;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 20px;

}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-shadow: 0 0 3px rgb(255, 255, 255);
    transition: 500ms;
}

.logo {
    padding-right: 20px;
    font-weight: bolder;
}

.jumbotron {
    background-image: url(../img/education.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    padding: 150px;
    text-align: center;
    color: rgba(255, 255, 255, 0.925);
}

header>.jumbotron>h1 {
    letter-spacing: 20px;
}

header>.jumbotron>p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #30cae9ab;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    transition: 300ms;

}

.btn:hover {
    background-color: #30C9E9;
}

/* main */
.lesson-wrapper {
    height: 580px;
    background-color: #ffffff;
    text-align: center;
}

.lessons h2 {
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: normal;
    text-align: center;
    color: #5f5d60;
}

.lesson {
    width: 25%;
    float: left;
}

.lesson-icon {
    position: relative;
}

.buku {
    font-weight: bold;
    color: #3f3f3f;
}

.txt-content {
    width: 80%;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    color: #979797;
}


/* main menu */
.message-wrapper {
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #30C9E9;
    cursor: pointer;
    box-shadow: 0 7px #008ca8;
}

.message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

/* anggota */
.anggota-kelompok {
    height: 580px;
    background-color: #f7f7f7;
    text-align: center;
}

.semua-anggota h2 {
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: normal;
    text-align: center;
    color: #363636;
}

.anggota {
    width: 25%;
    float: left;
}

.nama {
    position: relative;
}

.nama img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


footer {
    padding: 20px;
    color: white;
    background-color: #30C9E9;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 5px;
}

footer>p>span {
    margin: 10px;
}

footer>p>span>a {
    text-decoration: none;
    color: white;
    font-size: 36px;
}

footer>p>span>a:hover {
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

footer>p {
    text-transform: uppercase;
}

.copyright {
    font-size: 14px;
    color: white;
}

/* untuk tab dan android */
@media screen and (max-width: 1030px){

    .lesson-icon {
        position: relative;
    }

    .anggota img{
        width: 150px;
    }

    .lesson img{
        width: 150px;
    }
    
}

@media screen and (max-width: 955px) {

    nav {
        padding: 1px;
    }

    .jumbotron {
        padding: 60px;
    }

    .logo {
        margin-right: 10px;
    }

    header>.jumbotron>h1 {
        letter-spacing: 2px;
    }

    footer>p>span {
        margin: 0;
        font-size: 24px;
    }

    footer p span a i {
        font-size: 24px;
    }

}

@media screen and (max-width: 820px){

    .anggota img{
        width: 100px;
    }

    .lesson img{
        width: 100px;
    }

    p {
        font-size: 12px;
    }

    .anggota-kelompok {
        height: 450px;
    }

    
    
}

@media screen and (max-width: 660px) {

    nav {
        padding: 1px;
    }

    nav li {
        margin: 5px;
    }

    nav a {
        font-size: 16px;
        font-weight: 400;
    }

    .logo {
        margin-right: 5px;
    }

    header>.jumbotron>h1 {
        letter-spacing: 2px;
    }

    footer>p>span {
        margin: 0;
        font-size: 24px;
    }

    .txt-content {
        font-size: 14px;
    }

    footer p span a i {
        font-size: 16px;
    }

    .copyright {
        margin-top: 20px;
    }

}

@media screen and (max-width: 565px){

    .anggota img{
        width: 80px;
    }

    .lesson {
        width: 50%;
    }

    .anggota {
        width: 50%;
    }

    .lesson img{
        width: 80px;
    }

    .txt-content {
        font-size: 10px;
    }

    .anggota-kelompok {
        height: 500px;
    }

    .message-wrapper {
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 465px){

    .anggota img{
        width: 80px;
    }

    .lesson {
        width: 50%;
    }

    .anggota {
        width: 50%;
    }

    .lesson img{
        width: 80px;
    }

    .txt-content {
        font-size: 8px;
    }

    .anggota-kelompok {
        height: 500px;
    }

    .message-wrapper {
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 387px){

    .anggota img{
        width: 80px;
    }

    .lesson {
        width: 50%;
    }

    .anggota {
        width: 50%;
    }

    .lesson img{
        width: 70px;
    }

    .txt-content {
        font-size: 6px;
    }

    .anggota-kelompok {
        height: 500px;
    }

    .message-wrapper {
        margin-top: 30px;
    }
    
}

